<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block title %}Available Racks{% endblock %}

{% block content %}

{% for rack in rack_list %}
    Rack: <a href="{% url 'rack' rack.id %}">{{rack}}</a> located in: {{rack.room}}</li>

    <table id={{rack.rackname}} class="table">
{% with ''|center:rack.row_count as range1 %}
    <thead><tr>
        {% with ''|center:rack.col_count as range2 %}
        <th scope="col">X</th>
{% for _ in range2 %}
        <th scope="col">col {{forloop.counter}}</th>
    {% endfor %}
        {% endwith %}
        </tr></thead>
    {% for _ in range1 %}
    <tr>
        <th scope="row">row {{forloop.counter}}</th>
        {% with ''|center:rack.col_count as range2 %}
        {% for _ in range2 %}
        <td id={{forloop.counter}}>
            empty
        </td>
        {% endfor %}
        {% endwith %}
    </tr>
{% endfor %}
        {% endwith %}
        </table>

{% for position in rack.position_set.all %}
    <script> ro = {{position.row}}
        co = {{position.column}}
        table = "{{rack.rackname}}"

    </script>
    {% if position.substock %}
        <script>
        sub = "{{position.substock.stock}}"
        pos= {{position.substock.substock_id}}
        var row = document.getElementById(table).rows[(ro)].cells;
        row[(co)].innerHTML=sub
        </script>

    {% else %}
        <script>
        var row = document.getElementById(table).rows[(ro)].cells;
        row[(co)].innerHTML="empty"
        </script>

{% endif %}
{% endfor %}

List of Substock in rack {{rack.rackname}}:</br>

<!--adds info about Substock into the table according to substock's postion-->
{% for position in rack.position_set.all %}
{% if position.substock %}
<ul>
    <li><a href="{% url 'substock' position.substock.substock_id %}">{{ position.substock.stock }} count: {{position.substock.count}}</a>
</li>
</ul>
{% endif %}

{% endfor %}

{% endfor %}

{% endblock %}


</body>
</html>