<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fishlines</title>
</head>
<body>
{% extends 'base.html' %}

{% block title %}Fishlines{% endblock %}

{% block content %}
<ul>
{% for fishline in fishline_list %}
    <li>Fishline: <a href="{% url 'fishline' fishline.id %}">{{fishline.name}}</a>, description: {{fishline.description}}</li>
    Stock of fishline {{fishline.name}}:
    <ul>{% for stock in fishline.stock_set.all %}

        <li>
            Born: {{stock.d_o_b}}
            <ul>
            Substock:
            {% for substock in stock.substock_set.all %}
                <li>ID: {{substock.substock_id}}</li>
                <li>Count: {{substock.count}}</li>
                <li>Position: {{substock.position}}</li>
                </br>
            {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endfor %}
</ul>


{% endblock %}


</body>
</html>