<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h1>FishApp</h1>
This application helps manage stocks of zebrafish use for genetic experiments. It gives overwiew of rooms, racks and available positions,
about stock of fish and details about their dob, position, numbers. Select from the tabs in the navbar above to see information on specified subject.
In the list of items click on highlighted links to see detail page of item. To add, remove or edit items or information go to the admin section,
use 'Admin' tab of the navigation.
</br>

<h2>Simple overview</h2>
Overview of available rooms and racks in them.
And of currently grown fish, its stock and substock.</br>

Available rooms:
{% for room in rooms %}
<li>{{ room }}</li>
{% endfor %}

Available racks:
{% for rack in racks %}
<a href="{% url 'rack' rack.id %}">{{ rack.rackname }}</a>
{% endfor %}

<table>
    {% for position in positions %}

    <tr>
        <td>Akvarium: {{position.substock}}</td>
        <td>{{position}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
</body>
</html>