<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{{stock}}

List of substock and where they are located:
{% for substock in stock.substock_set.all %}
<li>
{{substock}}  :  {{substock.position}}
</li>
{% endfor %}
{% endblock %}

</body>
</html>